@using Microsoft.AspNetCore.Components
@using Microsoft.AspNetCore.Components.Web
@using ScreenDraw.Pages
@using ScreenDraw.Interfaces;
@using ScreenDraw.Classes;
@using System.Text;
@using Microsoft.Extensions.Logging;
@using Microsoft.AspNetCore.Http;
@inject ISketchRooms sketchRooms;
@inject NavigationManager navigationManager
@inject ILogger<RoomList> logger
@inject IHttpContextAccessor _httpContext
@*INHERIT - THIS IS BECAUSE THE @code BLOCK WAS MOVED TO A BASE CLASS*@ 
@inherits ScreenDraw.Components.Pages.RoomlistBase;  
@page "/RoomList"
@{
    var sketchRoomsCount = sketchRooms.Rooms is null ? 0 : sketchRooms.Rooms.Count;
}


<h1>Screen Draw</h1>

<p>Welcome to Screen draw, a place where you can sketch in collaboration with others.</p>

@{
    if (sketchRoomsCount > 0)
    {
        <label>Either create a sketch room or join one of the existing rooms listed below</label>
    }
    else
    {
        <label>Create and enter a sketch room by adding the artist name you would like to be known as, the name you'd like to call the room and the canvas width and height:</label>
    }
}

<label>Different room dimensions will suit different devices. For example if you are using a phone you may wish to specify a smaller canvas size than if
    you were using a tablet or desktop. However, if the canvas is larger than your devices screen, you will be able to scroll, plus, when another artist draws, what they are doing will scroll into view on your device</label>
<lanel>Interested in how this works? View the code here: <a href="https://github.com/ChrisHoar/Screen-Draw-Rooms">GitHub repository</a></lanel>
<br />

<div style="display:flex; flex-direction:column">
    <span style="color: red" id="errorMessage">@error </span>
</div>

<div class="container">
    <div class="row">
        <div class="d-flex flex-wrap">
            <div class="p-2 col-md-8">Your Artist Name</div>
            @*SECURITY: Razor automatically encodes input to help prevent XSS (cross-site scripting attacks i.e. <script>
                injection into output from input) *@
            <div class="p-2 col-md-8"><input id="artistName" @bind="@artistName" /></div>
        </div>
    </div>
    <div class="row">
        <div class="d-flex flex-wrap">
            <div class="p-2 col-md-8">Room Name</div>
            <div class="p-2 col-md-8"><input id="roomName" @bind="@newRoomName" /></div>
        </div>

    </div>
    <div class="row">
        <div class="d-flex flex-wrap">
            <div class="p-2 col-md-8">Canvas Width</div>
            <div class="p-2 col-md-8"><input id="canvasWidth" @bind="@canvasWidth" /></div>
        </div>

    </div>
    <div class="row">
        <div class="d-flex flex-wrap">
            <div class="p-2 col-md-8">Canvas Height</div>
            <div class="p-2 col-md-8"><input id="canvasHeight" @bind="@canvasHeight" /></div>
        </div>

    </div>
    <div class="row">
        <div class="p-2 col-md-8"><button id="createRoomButton" class="btn btn-primary" @onclick="() => BeginCreateRoom()" @onclick:preventDefault>Create Room</button></div>
    </div>
</div>

@if (sketchRoomsCount > 0)
{
    <label>Existing sketch rooms:</label>
    <br />
    <div class="table-responsive-md">
        <table class="table">
            <thead>
                <tr>

                    <th>
                        Room Name
                    </th>
                    <th colspan="1">
                        Artists
                    </th>
                    <th colspan="2">
                        Dimensions
                    </th>

                </tr>
            </thead>
            @foreach (IRoom room in sketchRooms.Rooms)
            {

                <tbody>
                    <tr>
                        <td>
                            @room.Name
                        </td>
                        <td>
                            @room.Artists.Count
                        </td>
                        <td>
                            @room.CanvasWidth.ToString()px X @room.CanvasHeight.ToString()px
                        </td>
                        <td>
                            <button class="btn btn-primary" @onclick="() => BeginRedirectToRoom(room.Name)" @onclick:preventDefault>Join Room</button>
                        </td>
                    </tr>
                </tbody>
            }
        </table>
    </div>
}


}

