@page
@using ScreenDraw.Interfaces
@using Microsoft.Extensions.Logging;
@using Microsoft.AspNetCore.Http;
@inject IList<IColourListItem> ColourValues
@inject ISketchRooms sketchRooms
@inject ILogger<SketchRoomModel> logger;
@inject IHttpContextAccessor _httpContext

@{
    var roomName = string.Empty;
    var artistName = string.Empty;
    object currentImage = null;

    try
    {
        if (Request.QueryString.HasValue == true)
        {
            roomName = Request.Query["RoomName"];
            artistName = Request.Query["ArtistName"];
            _httpContext.HttpContext.Session.SetString("ArtistName", artistName);
        }
        currentImage = sketchRooms.Rooms.Where(r => r.Name == roomName).FirstOrDefault().CurrentImage;
    }
    catch (Exception ex)
    {
        logger.LogError(ex.Message);
    }

}

<div style="position: absolute; left: 5px; top: 5px; font-size:large;">
    @*<label>Select Colour</label>*@
    <select id="colours">
        @{
            foreach (IColourListItem item in ColourValues)
            {
                @:<option value="@item.Value ">
                    @item.Text
                @:</option>
            }
        }


    </select>
    <select id="shapes" name="shapes">
        <option value="free">Free</option>
        <option value="line">Line</option>
        <option value="square">Square</option>
        <option value="circle">Circle</option>
        <option value="ellipse">Ellipse</option>
    </select>

    @*<input type="button" onclick="clearCanvas();" value="Clear" />*@
    <input type="button" onclick="undo();" value="Undo" />
    <input type="button" onclick="redo();" value="Redo" />
    

</div>

@*
    Temporary image used to add the current state of the image in the room to new users entering the room.
    The SetImage function adds it to the canvas. The currentImage is data held in the room
    instance, and is passed back in the DrawHub each time a user stops drawing.
    This image is hidden once teh canvas is updated
*@

@*<img src="@currentImage" id="currentImage" style=" position: absolute; top: 40px; left: 5px" width="350" height="550" />

<canvas data="" id="canvas" style="border: solid 1px blue; position: absolute; top: 40px; left: 5px" width="350" height="550">
</canvas>*@
<div style="overflow:scroll;">
<img src="@currentImage" id="currentImage" style=" position: absolute; top: 40px; left: 5px" width="1400" height="800" />
<canvas data="" id="canvas" style="border: solid 1px blue; position: absolute; top: 40px; left: 5px" width="1400" height="800">
</canvas>
</div>

<div>
    <input type="hidden" id="roomName" value="@roomName" />
    <input type="hidden" id="artistName" value="@artistName" />
</div>

<div id="tracker"></div>




<script src="~/js/signalr/dist/browser/signalr.js"></script>
<script src="~/js/draw.js"></script>
<script>

    window.onload = SetImage();


    function SetImage() {
        var context = canvas.getContext('2d');

        var img = document.getElementById("currentImage");

        context.drawImage(img, 0, 0, img.width, img.height);

        img.style.visibility = "hidden";
    };

</script>


